body, html {
    height: 100%;
    margin: 0;
    background: #f0f8ff;
	font-family: helvetica neue, serif;
}

.navbar {
  overflow: hidden;
  background-color: #bdbdbd;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  z-index: 2;
  
}

.navbar-title {
	font-family: helvetica neue, serif;
	font-size: 45px;
	color: #373435;
	margin-right: auto;
	text-shadow: 0 0 5px #f4edf0;
	text-transform: uppercase;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: #373435;
  text-align: center;
  padding: 12px 50px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 18px; 
  border: none;
  outline: none;
  color: #373435;
  padding: 25px 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #d3d3d3;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #373435;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: right;
  color: #f5f5f5;
  text-decoration: none;
  padding: 14px 16px;
}

.subnav-content a:hover {
  background-color:#d3d3d3;
  color: #373435;
}

.subnav:hover .subnav-content {
  display: block;
}

@media screen and (max-width: 925px) {
    .navbar {
        flex-direction: column; 
    }

    .navbar a,
    .subnav .subnavbtn {
        padding: 12px 20px; 
    }

    .subnav-content {
        background-color: #373435;
    }

    .subnav-content a {
        float: none;
        display: block;
        text-align: left;
    }
}

h1 {
	font-family: trirong, sans-serif;
	font-size: 35px;
	color: #373435;
	letter-spacing: 0.5px;
	text-align: center;
	margin-top: 55px;
}

.causes-sub {
	font-family: trirong, sans-serif;
	font-size: 18px;
	color: #373435;
	text-align: center;
}

.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: #f0f8ff;
  padding: 20px;
  text-align: center;
}

h2 {
	font-size:28px;
	color: #2b4b49;
	margin-top: 35px;
	text-align: center;
}

h3 {
	font-size:16px;
	color: #2b4b49;
	text-align: center;
}

.img {
 	background-color: #aaa;
	width: 100%;
	padding: 20px;
	margin-left: 10px;
}

h4 {
	font-family: trirong, sans-serif;
	font-size: 18px;
	color: #2b4b49;
}

p {
	font-family: trirong, sans-serif;
	font-size: 16px;
	color: #2b4b49;
  	margin: 30px;

}

.fact-box {
	background-color: #2b4b49;
	color: white;
	width: 900px;
	border: 8px solid #c6ddde;
	border-radius: 10px;
	padding: 15px;
	margin: 0px auto;
	font-size: 15px;
}

a {
	color: #f1faff;
}

@media screen and (max-width: 1005px) {
	.fact-box {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 425px) {
	h1, h2, h3, h4, p, .causes-sub, .fact-box {
		font-size: 16px;
	}
}
