body, html {
    height: 100%;
    margin: 0;
    background: #F5F5F5;
	font-family: helvetica neue, serif;
}

.navbar {
  overflow: hidden;
  background-color: #bdbdbd;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  z-index: 2;
  
}

.navbar-title {
	font-family: helvetica neue, serif;
	font-size: 45px;
	color: #373435;
	margin-right: auto;
	text-shadow: 0 0 5px #f4edf0;
	text-transform: uppercase;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: #373435;
  text-align: center;
  padding: 12px 50px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 18px; 
  border: none;
  outline: none;
  color: #373435;
  padding: 25px 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #d3d3d3;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #373435;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: right;
  color: #f5f5f5;
  text-decoration: none;
  padding: 14px 16px;
}

.subnav-content a:hover {
  background-color:#d3d3d3;
  color: #373435;
}

.subnav:hover .subnav-content {
  display: block;
}

@media screen and (max-width: 925px) {
    .navbar {
        flex-direction: column; 
    }

    .navbar a,
    .subnav .subnavbtn {
        padding: 12px 20px; 
    }

    .subnav-content {
        background-color: #373435;
    }

    .subnav-content a {
        float: none;
        display: block;
        text-align: left;
    }
}

h1 {
	font-family: trirong, sans-serif;
	font-size: 35px;
	color: #373435;
	letter-spacing: 0.5px;
	text-align: center;
	margin-top: 55px;
}

.sub {
	font-family: trirong, sans-serif;
	font-size: 18px;
	color: #373435;
	text-align: center;
}

.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
}
